.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    width: 400px;
}
button{
    background-color: pink;
}
select{
    padding: 4px 200px;
}
.fa-solid fa-book{
    margin-top: 15px;
}


